<%= render 'form' %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">有意思的</div>

  <table class="table">
    <tr>
      <th>#Name</th>
      <th>#category</th>
      <th>#Description</th>
      <th>#Link</th>
      <th></th>
      <th></th>
    </tr>

    <% @interests.each do |interest| %>
    <tr>
      <td><%= interest.name %></td>
      <td><%= interest.catagory %></td>
      <td><%= interest.comment %></td>
      <td><%= interest.link %></td>
      <td><%= link_to 'Edit', edit_interest_path(interest) %></td>
      <td><%= link_to 'Delete', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
</div>