<header >

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "CJY & YN", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "有意思", about_path %></li>
        <li><%= link_to "时间轴", about_path %></li>
        <li><%= link_to "标签", about_path %></li>
        <li><%= link_to "留言墙", about_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> More <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">敬请期待...</a></li>
            <li><a href="#">敬请期待...</a></li>
            <li><a href="#">敬请期待...</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    
  </div>
</nav>

</header>